 @model RestaurantNew.Models.Menu

@{
    ViewBag.Title = "Details";
}
<head>
   
    <link rel="stylesheet" type="text/css" href="Site.css" />
</head>
<h2>Details</h2>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categorya)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorya)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameDose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameDose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUri)
        </dd>

    </dl>

</div>
<p>
@Html.ActionLink("Edit", "Edit", new { id = Model.IdMenu }) |
@Html.ActionLink("Back to List", "Index")
</p>


  
