@model RestaurantNew.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<style>
    #Borderradius {
        border: 2px solid brown;
        border-radius: 5px;
    }
</style>
<body>
    @*<script src="JavaScript.js">
     
    </script>*@
    <script>
     
        function myFunction() {
            alert("try!!!!!");
            alert("222!!!!!");
            @*alert( @((RestaurantNew.Models.ApplicationUser)Session["User"]).Email);
             @((RestaurantNew.Models.ApplicationUser)Session["User"]).PhoneNumber = "123";

            Session[Name] = ((RestaurantNew.Models.ApplicationUser)Session["User"]).;
            var name = Request.Form("PhoneNumber")();
            Session("Name") = PhoneNumber;*@
            //if ((RestaurantNew.Models.ApplicationUser)Session["User"].PhoneNumber == "1") {
            //    alert("try2!!!!!");
            //}
            Session["controlID"] = "This is my session";
            alert((Session["controlID"]));

            //if (Session["User"] != null) {
            //    if (document.getElementById("defaultUnchecked").checked == true) {

            //        ((RestaurantNew.Models.ApplicationUser)Session["User"]).PhoneNumber = "none";
            //        alert((RestaurantNew.Models.ApplicationUser)Session["User"]).PhoneNumber );
            //    }
            //    else if (document.getElementById("defaultUnchecked").checked == true) {

            //        ((RestaurantNew.Models.ApplicationUser)Session["User"]).PhoneNumber = "solder";
            //        alert((RestaurantNew.Models.ApplicationUser)Session["User"]).PhoneNumber );
            //    }
            //    else if (document.getElementById("defaultUnchecked").checked == true) {

            //        ((RestaurantNew.Models.ApplicationUser)Session["User"]).PhoneNumber = "student";
            //        alert((RestaurantNew.Models.ApplicationUser)Session["User"]).PhoneNumber );
            //    }
            //    else if (document.getElementById("defaultUnchecked").checked == true) {

            //        ((RestaurantNew.Models.ApplicationUser)Session["User"]).PhoneNumber = "manager";
            //        alert((RestaurantNew.Models.ApplicationUser)Session["User"]).PhoneNumber );
            //    }
            //}
        }
        //function check()
        //{
        //    if (Session["User"] != null) {
        //        if (document.getElementById("defaultUnchecked").checked == true) {

        //            ((RestaurantNew.Models.ApplicationUser)Session["User"]).PhoneNumber = "none";
        //            alert((RestaurantNew.Models.ApplicationUser)Session["User"]).PhoneNumber );
        //        }
        //        else if (document.getElementById("defaultUnchecked").checked == true) {

        //            ((RestaurantNew.Models.ApplicationUser)Session["User"]).PhoneNumber = "solder";
        //            alert((RestaurantNew.Models.ApplicationUser)Session["User"]).PhoneNumber );
        //        }
        //        else if (document.getElementById("defaultUnchecked").checked == true) {

        //            ((RestaurantNew.Models.ApplicationUser)Session["User"]).PhoneNumber = "student";
        //            alert((RestaurantNew.Models.ApplicationUser)Session["User"]).PhoneNumber );
        //        }
        //        else if (document.getElementById("defaultUnchecked").checked == true) {

        //            ((RestaurantNew.Models.ApplicationUser)Session["User"]).PhoneNumber = "manager";
        //            alert((RestaurantNew.Models.ApplicationUser)Session["User"]).PhoneNumber );
        //        }

        //    }
        //}
    </script>
    <h2>@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-5">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                @Html.AntiForgeryToken()
                <h4>Create a new account.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                    </div>

                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>

                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <h3> declare your position</h3>
                <div class="col-md-12">


                    @*@using (Html.BeginForm("Index", "Employee", FormMethod.Get))
                    {
                        <b>Search by :
                        </b>@Html.RadioButton("Searchby", "EmpName", true)
                        <text>Name</text>
                        @Html.RadioButton("Searchby", "IsPermanant")
                        <text>Id</text><br />
                        @Html.TextBox("Search");
                        <input type="submit" value="Search" 
                        />
                    }*@

                    @using (Html.BeginForm("CheckDiscountAfter1", "Menus", FormMethod.Post))
                    {
                    <div id="Borderradius">

                        @*<div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="none" name="defaultExampleRadios" checked="False">
            <label class="custom-control-label" for="defaultUnchecked">none</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="solder" name="defaultExampleRadios">
            <label class="custom-control-label" for="defaultUnchecked">solder</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="student" name="defaultExampleRadios">
            <label class="custom-control-label" for="defaultUnchecked">student</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="manager" name="defaultExampleRadios">
            <label class="custom-control-label" for="defaultUnchecked">manager</label>
        </div>*@
                        @Html.RadioButton("StatusRadios", "none", true)
                        <text>none</text>
                        @Html.RadioButton("StatusRadios", "solder")
                        <text>solder</text>
                        @Html.RadioButton("StatusRadios", "student")
                        <text>student</text>
                        @Html.RadioButton("StatusRadios", "manager")
                        <text>manager</text>


                    </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Register" />
                                <button onclick="myFunction()">Click me</button>

                            </div>
                        </div>
                    }
                </div>


                    @*@if (Session["User"] != null)
                {
                    @((RestaurantNew.Models.ApplicationUser)Session["User"]).Phone=
                }*@

               
                    }
                </div>
                <div class="col-md-7">
                    <img src="~/Image/Club.jpeg" width="600" />
                </div>
            </div>
</body>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
